
body {
  background: #333;
  color: #ddd;
  font-family: monospace;
  font-size: 1.4em;
}

h1 {
  color: #f00;
}

code {
  white-space: pre;
}

a {
  color: #888;
}

#gist {
  position: absolute;
  right: 20px;
  top: 16px;
}
